*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

p{
  text-align: justify;
}

/* img{
  max-width: 100%;
} */

header img{
  width: 100%;
}

/* nav */
nav{
  height: 50px;
  background-color: #333;
  position: relative;
}

.navbar{
  display: flex;
  line-height: 50px;
}

.navbar li{
  padding:0 14px;
}

.navbar li a{
  color:#fff;
  font-size: 1rem;
  text-align: center;
}

.navbar li:hover,
.navbar li:hover a{
  background-color: #ccc;
  cursor: pointer;
  color: #333;
}

.navbar li a .icon{
  color: #fff;
}

.navbar li .icon-first{
  padding: 0 10px;
}

/* banner */
.banner img{
  width: 100%;
}

/* container */
.news-1{
  background-color: orange;
}

.news-1 .heading{
  padding: 20px;
}

.news-1 .heading p{
  margin-bottom: 10px;
}

.news-1 .box-1 img {
  max-width: 100%;
  width: 100%;
}

.news-1 h2{
  padding: 20px;
}

.news-2{
  background-color: green;
  padding: 20px;
}

.news-2 h2,
.news-3 h2{
  padding-bottom: 20px;
}

.news-3{
  background-color: rgb(255, 198, 93);
  padding: 20px;
}

/* list-plan */
.event{
  background-color: lightgreen;
}

.event h2{
  padding: 20px 10px 0 15px;
  font-size: 20px;
}
.time-table{
  margin: 25px 0;
  padding: 5px;
}

.time-table .date{
  text-align: center;
  background-color: red;
  border-radius: 5px;
}

.time-table .title{
  font-size: 13px;
}

/* news-hcem */
.news-hcem{
  background-color: aquamarine;
}

.news-hcem h3{
  padding: 20px 0 20px 20px;
}

.news-item{
  margin-bottom: 20px;
}

/* targer: kế hoạch */
.item-target{
  display: flex;
  justify-content: space-evenly;
  background-color: green;
  margin: 20px 0;
  padding: 10px;
  align-items: center;
  color: #fff;
  text-align: center;
}

.item-1{
  background-color: #5ca719;
}

.item-2{
  background-color: #ee4216;
}

.item-3{
  background-color: #008c17;
}

.item-4{
  background-color: #2775ec;
}

/* footer */
footer{
  height: 200px;
  background-color: #00BFFF;
}




